
.CarouselTitle {
    width: calc(100vw - 110pt); /* Full width minus margins */
    margin: 24pt 0pt 10pt 0pt;
}

.CarouselPanel {
    position: relative;
}

.CarouselButtonsContainer {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
    
}

.CarouselButton {
    display: flex;
    margin: 0pt 2pt 0pt 0pt;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-weight: 300;
    font-size: 14pt;
    background-color: rgba(50, 50, 50, 0.3);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light border */
    backdrop-filter: blur(10px); /* Creates the frosted glass blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    color: white;
    text-decoration: none;
    padding: 4pt;
    width: fit-content;
    cursor: pointer;
}

.CarouselButton:hover {
    background-color: rgba(50, 50, 50, 0.5);
    -webkit-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
}

.CarouselButtonImageLeft {
    width: 12.5pt;
    height: 12.5pt;
    user-select: none;
    margin-right: 1.5pt;
}

.CarouselButtonImageRight {
    width: 12.5pt;
    height: 12.5pt;
    user-select: none;
    margin-left: 1.5pt;
}

.CarouselContainer {
    overflow: scroll;
    margin: 0 auto;
    position: relative; /* Needed for positioning buttons */
    width: 100%;
    border-radius: 10px;

     /* Optional: Style or hide the scrollbar */
     scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    -webkit-overflow-scrolling: touch; /* Smoother scrolling on iOS */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.CarouselContainer::-webkit-scrollbar {
    display: none;
}


.CarouselSlides {
    display: flex;
    transition: transform 0.25s ease-in-out;
    border-radius: 10px;
    gap: 10pt; /* Space between items */
}

.CarouselItem {
    width: calc(100vw - 35pt); /* Full width minus margins */
    height: calc((100vw - 65pt) * 0.5);
    background-color: rgba(50, 50, 50, 0.3);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light border */
    backdrop-filter: blur(10px); /* Creates the frosted glass blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    color: white;
    text-decoration: none;
    padding: 5pt;
    user-select: none;
    margin: 0;
    flex-shrink: 0;
}

.CarouselItem:hover {
    background-color: rgba(50, 50, 50, 0.5);
    -webkit-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
}

.CarouselItemFrame {
    width: 100%;
    height: calc(100% - 21pt); /* Full height minus padding */
    border: none;
    margin-top: 5pt;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

@media only screen and (min-width: 450px) {
    .CarouselItem {
        width: 300pt;
        height: 150pt;
    }
}
