.DesignsTabSwitcherContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40pt;
    margin-top: 10pt;
}

.DesignsTabSwitcher {
    display: flex;
    max-width: 100%; /* Prevents it from becoming too wide */
    overflow-x: hidden; /* Hides overflow beyond max-width */
    flex-wrap: nowrap; /* Ensures buttons stay in one line */
    position: relative;
    width: fit-content;
    box-sizing: border-box;
    height: 36pt;
    border-radius: 18pt;
    margin-bottom: 10pt;
    padding: 1.5pt 1.5pt 1pt 1pt;
        overflow-x: none; /* Enables horizontal scrolling if needed */

}

.DesignsTabButton {
    flex-shrink: 0;;
    box-sizing: border-box;
    width: max-content;
    min-height: 0pt;
    height: 32pt;
    padding: 5pt 10pt 5pt 10pt; 
    border-radius: 16pt;
    background: rgba(100, 100, 100, 0.0); /* Semi-transparent background */
    cursor: pointer;
    border: none;
    color: white;
    user-select: none;
    font-family: "Karla", sans-serif;
    font-size: 16pt;
    font-weight: 200;
    z-index: 2;
}

.DesignsTabButton:hover {
    background: rgba(100, 100, 100, 0.3); /* Darker on hover */
    -webkit-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.DesignsTabButtonSelector {
    position: absolute;
    top: 0pt;
    margin-top: 1.5pt;

    border-radius: 16pt;
    background: rgba(200, 200, 200, 0.2); /* Darker on hover */
    height: 32pt;
    pointer-events: none;

    width: 50pt;
    left: 0pt;
    transition: left 0.25s ease-in-out; /* Sliding transition */
    z-index: 1;
}

.DesignsContent {
    min-height: 100vh;
    height: max-content;
}

@media screen and (max-width: 750px) {
    .DesignsTabButton {
        font-size: 0; /* Hide original button text */
    }
    .DesignsTabButton::before {
        content: attr(data-label); /* Display shorter text */
        font-size: 15pt;
    }
}