

.Content {
    display: block;
    margin-top: 50px;
    
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 1000px;
    width: calc(100% - 70px);

    min-height: calc(100vh - 145px);

    padding: 25px;
}

.Footer {
    color: white;
    padding: 5;
    display: block;

     
    margin-top: 15px;
    margin-bottom: 0px;

    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 1000px;
    width: calc(100% - 70px);

    text-align: left;
    
}

.FinalPadding {
    display: block;
    height: 15px;
}


