

.Content {
    display: block;
    margin-top: 50px;
    
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 1000px;
    width: calc(100% - 30px);

    min-height: calc(100vh - 145px);

    padding: 5px;
}

.Footer {
    color: white;
    display: block;
     
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 1000px;
    width: calc(100% - 70px);

    text-align: left; 
}

.FooterText {
    margin-top: 10pt;
    text-align: center;
}

.FinalPadding {
    display: block;
    height: 15px;
}

@media screen and (min-width: 750px) {
    .Content {
        width: calc(100% - 70px);
        padding: 25px;
    }
}

