body {
    height: 100vh;
    font-family: "Karla", sans-serif;
    font-size: 14pt;
    font-weight: 200;

    padding: 0pt;
    margin: 0pt;
    overflow-x: hidden;
    color: white;
    background-color: black;
}

h1 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 30pt;
    color: white;
    margin-top: 30pt;
}

h3 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 18pt;
    color: white;
}

.Title {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 25pt;
    color: white;
    text-decoration: none;
    user-select: none;
    padding: 0px 10px 0px 0px; 
}

.NavigationItem {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 25pt;
    color: white;
    text-decoration: none;
    padding: 10px 15px 10px 10px;
    border: none;
    background-color: transparent;
	border-color: transparent;
    cursor: pointer;
}

.SmallTitle {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 18pt;
    color: white;
    text-align: center;
}

@media only screen and (min-width: 750px) {
    
    .NavigationItem {
        font-size: 18pt;
        padding: 10px 15px 10px 15px;
    }
}


